@using System.Text.Json
@using NutriaryWebApp.BLL.DTOs

@{
    if(Context.Session.GetString("User") == null)
    {
        Context.Response.Redirect("/Users/Login");
    }
    var user = JsonSerializer.Deserialize<UserLoginDTO>(Context.Session.GetString("User"));

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>@TempData["Title"]</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="/stisla/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stisla/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="/stisla/css/style.css">
    <link rel="stylesheet" href="/stisla/css/components.css">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="/stisla/modules/datatables/datatables.min.css">
    <link rel="stylesheet" href="/stisla/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/stisla/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">

    <link href="https://cdn.datatables.net/2.0.2/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css" rel="stylesheet">


    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
@*     <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script> *@
    <!-- /END GA -->
</head>

<body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <nav class="navbar bg-primary navbar-expand">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                        <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
                    </ul>
                </form>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="/stisla/img/avatar/avatar-1.png" class="rounded-circle mr-1">
                            <div class="d-sm-none d-lg-inline-block">Hi, @user.firstname @user.lastname</div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a asp-controller="Users" asp-action="Profile" class="dropdown-item has-icon">
                                <i class="far fa-user"></i> Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" data-toggle="modal" data-target="#logoutModal" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a asp-controller="Home" asp-action="Index">Nutriary</a>
                    </div>
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a asp-controller="Home" asp-action="Index">
                            NT
                        </a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Dashboard</li>
                        <li class="dropdown">
                            <a asp-controller="Home" asp-action="Index" class="nav-link"><i class="fas fa-home"></i><span>Dashboard</span></a>
                        </li>
                        
                        <li class="menu-header">Food Log</li>
                        <li class="dropdown">
                            <a asp-controller="Nutritions" asp-action="Index" class="nav-link"><i class="fas fa-history"></i><span>Add food log</span></a>
                        </li>
                        <li class="menu-header">Report</li>
                        <li class="dropdown">
                            <a asp-controller="Nutritions" asp-action="DailyReport" class="nav-link" ><i class="fas fa-calendar"></i> <span>Daily Report</span></a>
                        </li>
                </aside>
            </div>

            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    <div class="section-body mt-lg-3">
                        @RenderBody()
                    </div>
                </section>
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; 2024 <div class="bullet"></div> Nutriary
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" asp-controller="Users" asp-action="Logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- General JS Scripts -->
    <script src="/stisla/modules/jquery.min.js"></script>
    <script src="/stisla/modules/popper.js"></script>
    <script src="/stisla/modules/tooltip.js"></script>
    <script src="/stisla/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="/stisla/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="/stisla/modules/moment.min.js"></script>
    <script src="/stisla/js/stisla.js"></script>

    <script src="/stisla/modules/datatables/datatables.min.js"></script>
    <script src="/stisla/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="/stisla/modules/datatables/Select-1.2.4/js/dataTables.select.min.js"></script>
    <script src="/stisla/modules/jquery-ui/jquery-ui.min.js"></script>

    <!-- Page Specific JS File -->
    <script src="/stisla/js/page/modules-datatables.js"></script>

    <!-- JS Libraies -->
    <!-- Page Specific JS File -->
    <!-- Template JS File -->
    <script src="/stisla/js/scripts.js"></script>
    <script src="/stisla/js/custom.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>