@{

}
@model IEnumerable<NutriaryWebApp.BLL.DTOs.FoodNameListDTO>

<!DOCTYPE html>
<html>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Add Food Consumption</h1>
</div>
<div class="m-0 font-weight-bold text-primary mb-lg-4">
    Add your food consumption by choosing the food name and insert the quantity.
</div>

<body>
    <div class="card custom-radius mb-4">
        <div class="card-header">
            <h4 class="m-0 font-weight-bold text-primary">Insert your food consumption</h4>
        </div>
        <div class="card-body">
            <form method="post" action="/Nutritions/Create">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <div>
                            <label for="food_name">Food name : </label>
                            <select class="form-control" type="text" id="food_name" required="required" name="food_name"
                                placeholder="Food Name" >
                                @foreach (var item in Model)
                                {
                                    <option value="@item.food_name">@item.food_name</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label for="quantity">Food Quantity : </label>
                            <input class="form-control form-control-user" type="text" required="required" id="quantity" name="quantity"
                                placeholder="Insert food quantity" />
                        </div>
                        <br />
                        <div>
                            <input class="btn btn-primary" type="submit" value="Insert food consumption" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>

<style>
    .custom-radius {
        border-radius: 20px;
    }

    .custom-divider {
        border: 0.5px solid #F8F8FF;
    }
</style>